<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<div class="user_name">
  <u><p>User:</p></u>
  <%= @user.first_name %>
  <%= @user.last_name %>
</div>


<div class="m-4">
  <h2>This is the home page</h2>
</div>

<div class="m-4">
  <u><p>New Calendar</p></u>
  <%= link_to "create a new calendar", new_calendar_path%>
</div>
